body, html {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-image: url('../Imagenes/nominailustracion.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden; /* Evita el desplazamiento */
}

.login-aside {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px; /* Ajusta el ancho según sea necesario */
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo semitransparente */
    color: white;
    border-radius: 10px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s ease, visibility 0.3s ease;
    opacity: 0; /* Comienza invisible */
    visibility: hidden; /* Oculta el aside */
    z-index: 1000;
}

.login-aside.active {
    opacity: 1; /* Muestra el aside */
    visibility: visible;
}

.content {
    text-align: center;
    color: white;
    z-index: 1;
    padding: 20px;
}

.top-right-button {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    background-color: #ff5555;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 1000;
}

.top-right-button:hover {
    background-color: #ff3333;
}

/* Estilo del formulario */
.form-group {
    margin-bottom: 15px;
}

input {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}
